.container {
   box-sizing: border-box;
   margin-top: 30px;
   margin-left: 30px;
}

.avatar {
   width: 60px;
   height: 60px;
   border-radius:50%;
}

.textarea {
   margin-left: 20px;
}

.button {
   display: block;
   margin-left: 167px;
}

.largePhoto {
   display: block;
  height: 300px;
}

.largePhotoDiv {
   display: block;
}

.userProfileDescription {
   display: flex;
   width: 800px;
   padding-bottom: 50px;
   margin: 0 auto;
}

.description {
   margin-left: 50px;
}

