.app-wrapper {
  display: grid;
  grid-template-areas: 
  "header header"
  "mainnav maincontent";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  width: 1280px;
  margin: 0 auto;
}

.mainContent {
  grid-area: maincontent;
  background-color: yellow;
}